body {
    background-color: black;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.first {
    min-height: 100vh;
    background-image: url("https://www.1843magazine.com/sites/default/files/styles/il_manual_crop_16_9/public/WC-cat-header-new3.jpg");
}
.second {
    min-height: 300px;
}
.third {
    min-height: 1152px;
    background-image: url("https://e3.365dm.com/20/04/2048x1152/skynews-cat-meme-coronavirus_4967171.jpg");
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottom {
    justify-content: center;
    align-items: flex-end;
}
p {
    text-align: center;
    vertical-align: middle;
    color:white;
}